body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.popup-container {
  display: flex;
}

.buttonWidth{
  width: 45px;
  height: 35px;
  margin: 5px;
  border: none;
  background-color: #ffffff;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
}

.action-button{
  background-color: #ffffff ;
  width: 45px;
  height: 35px;
  border: none;
  margin-left: 5px;
  margin-right: 3px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
}

.close{
  color : #ffffff;
  background-color: #C31230;
  font-weight: 600;
}

.delete{
  color : #fff;
  background-color: #969696;
}

.backspace{
  color : #fff;
  background-color: #969696;
  font-size: 18px;
}

input[type="button"]{
  outline:none;
}

button:focus {outline:0;}

.numpad-popup{
  display : flex;
  flex-wrap : wrap;
  justify-content : flex-start;
  padding : 5px;
  margin: 0px 5px 5px 5px;
  background-color : #DADADA;
  width : 218px;
  border-radius : 8px;
  box-shadow : rgba(0, 0, 0, 0.14) 0px 2px 6px 0px;
}


